version: '3.8'

services:
  invoice-api:
    build:
      context: ./InvoiceSystem  
      dockerfile: Dockerfile    
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always
